<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>About Me</h2>
        <hr class="small">
        <p>
          In 2014 I took a decision to give up my career in corporate software sales
          and left on an open-ended trip to travel around Southeast Asia. Along the way
          I fell in love with coding, both as something I can do for hours without getting
          bored, as well as a career that will allow me to continue travelling while
          I work from anywhere with an internet connection.
        </p>
        <p>
          I’ve spent the last 6 months learning how to code through CareerFoundry’s web
          development program and various self-paced Udemy courses.
        </p>
        <p>
          I am now looking for an opportunity to join a team as a remote Ruby on Rails
          developer. If you embrace the remote work movement and have a dynamic team where
          I can make a positive contribution while continuing to learn (and travel), I’d love to chat
          and find out if we’d be a good fit for each other.
        </p>
        <br>
        <ul class="list-unstyled">
          <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- /.row -->
    <br>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter fa-fw fa-3x social-icon"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fa fa-github fa-fw fa-3x social-icon"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="http://stackoverflow.com/users/{{ site.stackoverflow_username }}" target="_blank"><i class="fa fa-stack-overflow fa-fw fa-3x social-icon"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank"><i class="fa fa-linkedin fa-fw fa-3x social-icon"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /.container -->
</section>
