<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>About Me</h2>
        <hr class="small">
        <p>
          I am a recent graduate of CareerFoundry's 6-month web dev program during which I built a fluency
          in <strong>Ruby on Rails</strong>, <strong>JavaScript</strong>, <strong>jQuery</strong>, <strong>HTML5</strong>,
          and <strong>CSS3</strong>. I built two projects from scratch, using <strong>MVC</strong>, <strong>RESTful</strong>, and <strong>object-oriented
          design patterns</strong>. I learned the value of <strong>version control</strong> while using <strong>Git</strong>
          and <strong>GitHub</strong>, and implemented <strong>unit</strong>, <strong>functional</strong>, and <strong>feature tests</strong> using
          <strong>RSpec</strong>, <strong>FactoryGirl</strong>, and <strong>Capybara</strong>.
        </p>
        <p>
          Right now I am looking to join a great team where I can continue to learn and make a contribution.
        </p>
        <p>
          I also have an extensive <strong>background in enterprise software sales</strong>, both in
          <strong>on-premises solutions</strong> as well as <strong>software-as-a-service platforms</strong>.
          With my newly acquired development skills and my past experience,
          I bring a unique mix of skills to the table which I believe are not normally found in a developer. With
          this mix, I am able to understand both the development side as well as the business drivers and issues
          and communicate across both disciplines.
        </p>
        <p>
          I really love Ruby and Rails and am continuing to learn more about these every day. At the same time,
          I am <em>expanding my skill set</em> by learning <strong>advanced Git</strong>, <strong>PostgreSQL</strong>,
          <strong>Python</strong>, <strong>Linux system administration</strong>,
          and more.
        </p>
        <br>
        <ul class="list-unstyled">
          <li><i class="fa fa-envelope-o fa-fw"></i>  <a href="mailto:{{ site.email }}">{{ site.email }}</a>
          </li>
        </ul>
      </div>
    </div>
    <!-- /.row -->
    <br>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter fa-fw fa-3x social-icon"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fa fa-github fa-fw fa-3x social-icon"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="http://stackoverflow.com/users/{{ site.stackoverflow_username }}" target="_blank"><i class="fa fa-stack-overflow fa-fw fa-3x social-icon"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank"><i class="fa fa-linkedin fa-fw fa-3x social-icon"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /.container -->
</section>
