<section id="about" class="about">
  <div class="container">
    <div class="row">
      <div class="col-md-12 text-center">
        <h2>About Me</h2>
        <hr class="small">
        <p>
          Scenester leggings cardigan retro cold-pressed authentic. Everyday carry kombucha microdosing vice mixtape,
          bespoke 90's wolf ugh blog. Keffiyeh locavore whatever intelligentsia blog. Ugh pour-over shabby chic,
          post-ironic dreamcatcher waistcoat poutine. Squid man bun gastropub intelligentsia meggings tacos.
          Meh single-origin coffee bespoke roof party waistcoat keffiyeh slow-carb scenester. Raw denim mixtape
          williamsburg fashion axe.
        </p>
      </div>

    </div>
    <!-- /.row -->
    <br>
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter fa-fw fa-3x social-icon"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fa fa-github fa-fw fa-3x social-icon"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="http://stackoverflow.com/users/{{ site.stackoverflow_username }}" target="_blank"><i class="fa fa-stack-overflow fa-fw fa-3x social-icon"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank"><i class="fa fa-linkedin fa-fw fa-3x social-icon"></i></a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <!-- /.container -->
</section>
