<footer>
  <div class="container">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1 text-center">
        <ul class="list-inline">
          <li class="list-inline-item">
            <a href="https://twitter.com/{{ site.twitter_username }}" target="_blank"><i class="fa fa-twitter fa-fw fa-3x social-icon"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://github.com/{{ site.github_username }}" target="_blank"><i class="fa fa-github fa-fw fa-3x social-icon"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="http://stackoverflow.com/users/{{ site.stackoverflow_username }}" target="_blank"><i class="fa fa-stack-overflow fa-fw fa-3x social-icon"></i></a>
          </li>
          <li class="list-inline-item">
            <a href="https://www.linkedin.com/in/{{ site.linkedin_username }}" target="_blank"><i class="fa fa-linkedin fa-fw fa-3x social-icon"></i></a>
          </li>
        </ul>
        <hr class="small">
        <p class="text-muted">Copyright &copy; {{ site.copyright }} 20{{ site.time | date: '%y' }}</p>
      </div>
    </div>
  </div>
</footer>
