<section id="services" class="services bg-color">
  <div class="container text-center">
    <div class="row">
      <div class="col-lg-10 col-lg-offset-1">
        <h2>Education</h2>
      </div>
    </div>
    <hr class="small">
    <div class="row">
      <div class="col-sm-12">
        <div class="service-item">
          <span>
            <image src="img/CareerFoundry-transparent.png" class="img-responsive logo-center"></image>
          </span>
          <h4>
            <strong>Full-Stack Web Development</strong>
          </h4>
          <p>
            CareerFoundry is a 6-month intensive training program for web developers,
            specializing in Ruby on Rails and front-end development. I graduated from the
            program in September 2016.
          </p>
          <p>
            With over a 400 hours in coding, I built a fluency in Ruby on Rails, JavaScript,
            jQuery, HTML5, and CSS3. I built two projects from scratch, using MVC, RESTful,
            and object-oriented design patterns. I learned the value of version control while
            using Git and GitHub, and implemented unit, functional, and feature tests using
            RSpec, FactoryGirl, and Capybara
          </p>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="service-item">
          <span>
            <image src="img/udemy-logo.svg" class="img-responsive logo-center logo-width"></image>
          </span>
          <h4>
            <strong>The Complete Ruby on Rails Developer Course</strong>
          </h4>
          <h4>
            <strong>The Complete MySQL Developer Course</strong>
          </h4>
          <h4>
            <strong>The Complete Python/PostgreSQL Developer Course</strong>
          </h4>
        </div>
      </div>
    </div>
    <a href="education" class="btn btn-light">View Details</a>
  </div>
  <!-- /.container -->
</section>
