<section id="skills" class="skills">
  <div class="container">
    <h2 class="text-center">My Stack</h2>
    <hr class="small">
    <div class="row">
      <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingOne">
            <h4 class="panel-title">
              <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Application and Data
              </a>
            </h4>
          </div>
          <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <div class="panel-body">
              <a frameborder="1" data-theme="light" data-stack-embed="true" data-layers="1" href="https://embed.stackshare.io/stacks/embed/63c68a555d0d53"/></a>
              <script async src="https://cdn1.stackshare.io/javascripts/client-code.js" charset="utf-8"></script>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingTwo">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                Utilities
              </a>
            </h4>
          </div>
          <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="panel-body">
              <a frameborder="1" data-theme="light" data-stack-embed="true" data-layers="2" href="https://embed.stackshare.io/stacks/embed/63c68a555d0d53"/></a>
              <script async src="https://cdn1.stackshare.io/javascripts/client-code.js" charset="utf-8"></script>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                DevOps
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <a frameborder="1" data-theme="light" data-stack-embed="true" data-layers="3" href="https://embed.stackshare.io/stacks/embed/63c68a555d0d53"/></a>
              <script async src="https://cdn1.stackshare.io/javascripts/client-code.js" charset="utf-8"></script>
            </div>
          </div>
        </div>
        <div class="panel panel-default">
          <div class="panel-heading" role="tab" id="headingThree">
            <h4 class="panel-title">
              <a class="collapsed" role="button" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                Business Tools
              </a>
            </h4>
          </div>
          <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <div class="panel-body">
              <a frameborder="1" data-theme="light" data-stack-embed="true" data-layers="4" href="https://embed.stackshare.io/stacks/embed/63c68a555d0d53"/></a>
              <script async src="https://cdn1.stackshare.io/javascripts/client-code.js" charset="utf-8"></script>
            </div>
          </div>
        </div>
      </div>
      <!-- /accordion -->
    </div>
    <!-- /row -->
  </div>
  <!-- /container -->
</section>
